#numpy==1.22.0
#TTS==0.22.0
#langchain-community==0.0.29
#ollama==0.1.6
#openai-whisper==20231117
#pydantic<2.0
#pysilero-vad==1.0.0
#simpleaudio==1.0.4
#torch==2.2.0
TTS
langchain-community
ollama
openai-whisper
pydantic
pysilero-vad
simpleaudio
torch